body{
  font-family: "Helvetica";
}
/* Font consistent throughout page */

h1{
  background-image: url(../images/img1.jpeg);
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
}
/* select all h2's nested in dividers (consistent style) */
#brushes h2{
  background-color: mediumspringgreen;
}
#frames h2{
  background-color: lightcoral;
}
#paint h2{
  background-color: skyblue;
}
/* I'd really like to know if adding the common styling first (line 15-20), then proceeding to declare the nuances individually (line 23-31) is the most effective way to accomplish the result.*/

span{
  font-weight: bold;
  color: blue;
}
